<%- include('partials/header') %>
<div class="w-full min-h-screen bg-zinc-800 px-10 py-8 text-white ">
    <div class="cards flex flex-wrap gap-10">
        <% user.posts.forEach(function(elem){ %>
            <div class="card w-44">
                <div class="w-full h-full overflow-hidden">
                    <!-- Update the src to use Cloudinary URL -->
                    <img class="rounded-lg" src="<%= elem.image %>" alt="Image for <%= elem.title %>">
                    <h5 class="mt-1 text-sm font-semibold"> <%= elem.title %></h5>
                    <h5 class="mt-5 text-sm"> <%= elem.description %></h5>
                </div>
            </div>
       <% })%>
    </div>
</div>
<%- include('partials/footer') %>
